@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="flexcon">

    <a asp-area="" asp-controller="regions" asp-action="Index">Regions</a>
        <a asp-area="" asp-controller="airQualities" asp-action="Index">Air Quality</a>
        <a asp-area="" asp-controller="estuaryQualities" asp-action="Index">Estuary Quality</a>
        <a asp-area="" asp-controller="gWaterQualities" asp-action="Index">Ground Water Quality</a>

</div>